.main-box {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(216, 204, 204);
    justify-content: center;
    padding: 15px;


}




button {
    background-color: rgb(199, 176, 47)
}

.need {
    
}

.new-to-amazon {
height: 2000px;

}