.main-box {
    border: 2px solid rgb(180, 166, 166);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}




button {
    background-color: rgb(199, 176, 47)
}


.newtoamazon {
    text-align: center;

}

h1 {
    font-size: px;
}

.Below {
    text-align: center;
    padding: 20px;
    position:absolute;
    width: 100%;
    bottom: 10;
    border: 0.5px solid rgb(185, 169, 169);
}


.Below p {
    margin: 5px 0;
}

.image {
    text-align: center;
    size-adjust: 103px;
}

/* Definatly need to work a lot more on my CSS since it has been the main struggle so far  